{% extends "base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block body %}
<section id="other_content">
    <div class="wrapper">
        <h1>Политика конфедициальности</h1>
        <p>Настоящая Политика конфиденциальности (далее - Политика) действует в отношении всей информации, которую
            данный сайт gruzovoe.taxi-kursk.ru (далее - Сайт) может получить во время доступа к нему пользователем.</p>

        <p>Использование Сайта означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней
            условиями обработки данных. В случае несогласия с этими условиями пользователь должен воздержаться от
            использования сервисов Сайта.</p>

        <p>1. Информация пользователей, которую получает и обрабатывает Сайт</p>

        <p>1.1. В рамках настоящей Политики под информацией пользователя понимаются:</p>

        <p>1.1.1. Информация, которую пользователь предоставляет о себе самостоятельно заполнением форм обратной
            связи.</p>

        <p>1.1.2. Данные, которые автоматически передаются в процессе их использования с помощью установленного на
            устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, время доступа
            и т.п.</p>

        <p>1.2. Сайт не проверяет достоверность полученной от пользователя информации.</p>

        <p>2. Цели сбора и обработки информации пользователей</p>

        <p>2.1. Сайт собирает и хранит только те данные, которые необходимы для обратной связи с пользователем
            предоставившим свои данные.</p>

        <p>2.2. Информацию пользователя Сайт может использовать в следующих целях:</p>

        <p>2.2.1. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся
            использования сервисов Сайта, а также обработка запросов и заявок от пользователя.</p>

        <p>2.2.2. Улучшения качества, удобства их использования, разработка услуг.</p>

        <p>2.2.3. Таргетирование рекламных материалов.</p>

        <p>2.2.4. Предоставление пользователю персонализированных услуг.</p>

        <p>2.2.5. Проведение статистических и иных исследований на основе обезличенных данных.</p>

        <p>3. Условия обработки информации пользователей.</p>

        <p>3.1. Сайт хранит информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.</p>

        <p>3.2. В отношении информации пользователя сохраняется ее конфиденциальность.</p>

        <p>4. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им информацию или её
            часть, а также параметры её конфиденциальности.</p>

        <p>5. Сайт принимает необходимые и достаточные организационные и технические меры для защиты информации
            пользователей от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
            распространения, а также от иных неправомерных действий с ней третьих лиц.</p>

        <p>6. Сайт имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в
            актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с
            момента её размещения, если иное не предусмотрено новой редакцией Политики.</p>
    </div>
</section>
{% endblock %}