{% extends "base.html" %}

{% block title %}{{meta.title}}{% endblock %}
{% block meta %}
    {{ parent() }}

{% endblock %}
{% block body %}
<section id="intro">
    <div id="nepokaz">
        <img src="/assets/images/logo.png" alt="Logo Taxi MIRA"/>
    </div>
    <div class="wrapper  cnt">
        <div class="title">
            <div class="bredcr"></div>
            <h1>Служба заказа такси TAXI MIRA</h1>
            <p class="opis">Цена поездки известна заранее. Быстрая подача авто.</p>
            <p class="opis">Заказать ГРУЗОВОЕ ТАКСИ быстро и дешево:</p>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <a href="#order" class="button" type>Онлайн</a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" class="button" href="tel:{{orderPhoneTel}}">По телефону</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div id="msg_pop">
        <span class="msg_close"
              onclick="document.getElementById('msg_pop').style.display='none'; return false;">X</span>
        <h4>В службе TAXI MIRA также можно заказать легковое такси!</h4>
        <p>Закажите легковое такси на сайте:
            <a target="_blank" href="https://taxi-kursk.ru/">taxi-kursk.ru</a>
            или по телефону:
            <a target="_blank" href="tel:84712748484">8(4712)74-84-84</a>
        </p>
    </div>
</section>
<section id="krasota">
    <div class="additional-services wrapper">
        <h2>Наши услуги</h2>
        {% include 'Services/services.html' %}
    </div>
    <div class="customers-appreciate wrapper">
        <h2>Наши клиенты ценят в нас</h2>
        <div class="customers-appreciate-item first-child">
            <div class="wr-icon">
                <img src="/assets/images/icon29.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Пунктуальность</p>
                <p class="text">Нам дорошо ваше время. Именно поэтому наше такси не опаздывает к своим клиентам.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon30.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Вежливость</p>
                <p class="text">Ваша поездка будет приятная во всех отношениях с нашими корректными водителями.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon31.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Комфорт</p>
                <p class="text">Поездка на такси должна быть быстрой и приятной, что обеспечат наши удобные авто.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon32.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Экономичность</p>
                <p class="text">Мы держим самые низкие цены в городе не изменяя качеств услуг.</p>
            </div>
        </div>
        <div class="customers-appreciate-item first-child">
            <div class="wr-icon">
                <img src="/assets/images/icon33.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Удобство заказа</p>
                <p class="text">Удобные способы заказа такси. Можно вызвать машину по телефону или через интернет.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon34.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Скорость</p>
                <p class="text">Возможность быстро рассчитать стоимость такси на сайте и получить информацию о
                    времени.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon35.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Гибкая оплата</p>
                <p class="text">Оплата как наличными, так и по карте.</p>
            </div>
        </div>
        <div class="customers-appreciate-item">
            <div class="wr-icon">
                <img src="/assets/images/icon36.png" alt="icon">
            </div>
            <div class="item-content">
                <p class="name">Услуги</p>
                <p class="text">Широкий выбор дополнительных услуг.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="order">
    <h2>ЗАКАЗ ГРУЗОВОГО ТАКСИ</h2>
    <h3 id="order-phone"><a href="tel:{{orderPhoneTel}}" target="_blank"><span
            class="sml">{{orderPhoneTop['leftPart']}}</span>{{orderPhoneTop['rightPart']}}</a></h3>
    <div id="order-form">
        <!--SeDi-->
        <noscript>Для полной функциональности этого сайта необходимо включить JavaScript. Посмотрите <a
                href="https://www.enable-javascript.com/ru/" target="_blank">инструкции, как включить JavaScript в вашем
            браузере</a>.
        </noscript>
        <div id="sedi-changecity" data-cities="Курск, Обоянь"></div>
        <div id="sedi-orderform3" data-city="Курск">форма заказа</div>
        <!--SeDi-->
    </div>
</section>
{% endblock %}
