<div class="title">
    <div class="bredcr"></div>
    <h1>Служба заказа такси «Мира»</h1>
    <p class="opis">Цена поездки известна заранее. Быстрая подача авто.</p>
    <p class="opis">Заказать <strong>грузовое такси</strong> быстро и дешево:</p>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <a href="#order" class="button" type>Онлайн</a>
        </div>
        <div class="col-md-2">
            <a target="_blank" class="button" href="tel:{{orderPhoneTel}}">По телефону</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>