<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ грузового такси онлайн в Курске</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="Служба заказа Такси Мира обладает большим опытом в организации грузовых и пассажирских перевозок, в оказании услуг грузчиков, что находит отклик в положительных отзывах клиентов."/>
    <meta name="keywords" content="служба заказа такси; грузовое такси; услуги грузчиков; междугородние перевозки грузов"/>
    <meta name="author" content="Такси Мира"/>
    <meta http-equiv="Cache-Control" content="private">
    <meta name="yandex-verification" content="352ebbc131ce4ee7" />
    <link rel="icon" href="/assets/images/favicon.ico" type="ico">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/v10.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/taxi/style.css?5da090a66232a">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <meta property="og:type" content="website"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Курск"/>
    <meta property="og:image" content="/assets/images/logo_zel.png"/>
    <meta property="og:description"
          content="Служба заказа Такси Мира обладает большим опытом в организации грузовых и пассажирских перевозок, в оказании услуг грузчиков, что находит отклик в положительных отзывах клиентов."/>
    <meta property="og:site_name" content="Грузовое Такси Мира"/>
</head>
<body>
<style>
    @media only screen and (max-width: 748px), only screen and (max-device-width: 748px) {
        header {
            display: none;
        }
    }
</style>
<header>
    <div class="wrapper navigation container" id="navigation_top">
        <div class="logo">
            <a class="r1279" href="/"><img src="/assets/images/logo-mins2.png" alt="Logo Taxi MIRA"/></a>
            <a class="r1280" href="/"><img src="/assets/images/logo_zel.png" alt="Logo Taxi MIRA"/></a>
        </div>
        <div class="highSize">
            <nav>
                <ul id="Mobmenu">
                    <li class="main-menu__item">
                        <a href="/" class="Mobmenu__link">Главная</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="/services" class="Mobmenu__link">Услуги</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="/work" class="Mobmenu__link">Работа в такси</a>
                    </li>
<!--                    <li class="main-menu__item">-->
<!--                        <a href="/news/" class="Mobmenu__link">Новости</a>-->
<!--                    </li>-->
                    <li class="main-menu__item">
                        <a href="/contacts" class="Mobmenu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="phone">
            <a href="tel:84712748484">
                <span class="phone_icon text-orange icons">&#xe802;</span>
                <span class="phone_light">
                        <span class="sml">8(4712)</span>74-84-84
                    </span>
            </a>
        </div>
    </div>
</header>
{% block body %}
{% endblock %}
<footer>
    <div class="wrapper container navigation" id="navigation_bot">
        <div class="highSize">
            <nav>
                <ul>
                    <li><a href="politika">Политика конфиденциальности</a></li>
                    <li><a href="conditions">Условия заказа</a></li>
                </ul>
            </nav>
        </div>
<!--        <div class="social-links"> <span class="icons"><a href="https://vk.com/taxikurss" target="_blank">&#xe804;</a></span> <span class="icons"><a href="https://www.instagram.com/taxikurs/" target="_blank">&#xf31f;</a></span> </div>-->
        <div class="phone">
            <a href="tel:84712748484"><span class="phone_icon icons">&#xe802;</span> <span class="phone_light">8 (4712) 74-84-84</span></a> <!--<a href="tel:84999914999"><span class="phone_light">8 (499)</span> <span class="phone_bold">99-14-999</span></a>-->
        </div>
    </div>
    <hr class="footerHr">
    <div class="wrapper" id="footer-copyright">
        <div class="copyright">© 2019 Все права защищены. Официальный сайт ТАКСИ MIRA. <br> ИП Успанова С В(Такси MIRA) (ОГРНИП 318463200023053, ИНН 461902439750, Курская обл. Пристенский р-н. Д. Ольховатка. Ул Луговая 17) оказывает исключительно информационные услуги, не заключает договора перевозки, перевозчики не являются его работниками и не привлекаются обществом к исполнению обязательств по перевозке. Скидки предоставляются от тарифов перевозчиков, сотрудничающих с диспетчерской службой "Такси MIRA".</div>
        <div class="vooa">  </div>
    </div>
</footer>
{% include 'top-menu.html' %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--SeDi-->
<script>
    window.SeDi_ = {
        BootstrapTheme: "lumen",
        key: "bdad06b6-dd36-44a4-ac6a-c627fb8d16ad"
    };
</script>
<script src="https://msk1.sedi.ru/api.js" async crossorigin></script>
<!--/SeDi-->
<script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
