<head>
    <meta charset="UTF-8">
    <title>Заказ грузового такси онлайн в Курске</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="Служба заказа Такси Мира обладает большим опытом в организации грузовых и пассажирских перевозок,
          в оказании услуг грузчиков, что находит отклик в положительных отзывах клиентов."/>
    <meta name="keywords"
          content="служба заказа такси; грузовое такси; услуги грузчиков; междугородние перевозки грузов"/>
    <meta name="author" content="Такси Мира"/>
    <meta http-equiv="Cache-Control" content="private">
    <meta name="yandex-verification" content="352ebbc131ce4ee7"/>
    <link rel="icon" href="/assets/images/favicon.ico" type="ico">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/v10.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/taxi/style.css?5da090a66232a">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <meta property="og:type" content="website"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Курск"/>
    <meta property="og:image" content="/assets/images/logo_zel.png"/>
    <meta property="og:description"
          content="Служба заказа Такси Мира обладает большим опытом в организации грузовых и пассажирских перевозок,
          в оказании услуг грузчиков, что находит отклик в положительных отзывах клиентов."/>
    <meta property="og:site_name" content="Грузовое Такси Мира"/>
</head>