<div class="additional-services wrapper">
    <div class="additional-services-item">
        <div class="wr-icon">
            <img src="/assets/images/icons/gruz.png" alt="Грузовое такси по городу">
        </div>
        <div class="item-content">
            <div class="item-content-desc">
            <p class="name">Грузовое такси по городу. До 1,5 тонны.</p>
            <p class="text"> Стоимость такси начинается  От <span>300</span> рублей.</p>
            </div>
            <a class="btn-jelou btn-jelou_voditel scrolled" href="/">Заказать такси</a>
        </div>
    </div>
    <div class="additional-services-item">
        <div class="wr-icon">
            <img src="/assets/images/icons/gruzchik2.png" alt="Услуги грузчиков">
        </div>
        <div class="item-content">
            <div class="item-content-desc">
            <p class="name">Услуги грузчиков</p>
            <p class="text">Стоимость грузчиков. <span>250р</span> час минимально 2 часа. Далее 250р за каждый последующий час</p>
            </div>
            <a class="btn-jelou btn-jelou_voditel scrolled" href="/">Грузчики</a>
        </div>
    </div>
    <div class="additional-services-item">
        <div class="wr-icon">
            <img src="/assets/images/icons/fura3.png" alt="Грузовое междугороднее такси">
        </div>
        <div class="item-content">
            <div class="item-content-desc">
            <p class="name">Грузовое междугороднее такси</p>
<!--            <p class="text"><br/> Стоимость можно посмотреть <a href="/intercity">здесь</a></p>-->
            </div>
            <a class="btn-jelou btn-jelou_voditel scrolled" href="/">Межгород</a>
        </div>
    </div>
</div>